/* /Pages/Home.razor.rz.scp.css */
table[b-71ch8vdksi] {
    border-collapse: collapse;
    border: 6px solid #000A39;
    width: 600px;
}

td[b-71ch8vdksi] {
    width: 190px;
    height: 190px;
    border: 5px solid white;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    cursor: pointer;
    color: white;
    max-width: 190px;
    max-height: 190px;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none; 
}

td:hover[b-71ch8vdksi] {
    background-color: #000A60;
}

td.clicked[b-71ch8vdksi] {
    cursor: default;
}

td.clicked:hover[b-71ch8vdksi] {
    background-color: #000A39;
}

h2[b-71ch8vdksi] {
    color: white;
    font-size: 25px;
}

h3[b-71ch8vdksi] {
    color: white;
    font-size: 25px;
}

button[b-71ch8vdksi] {
    font-size: 20px;
}
/* /Pages/Welcome.razor.rz.scp.css */
.inputRadio[b-zpd79d8zcd] {
    color: white;
}

[b-zpd79d8zcd] [type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

h1[b-zpd79d8zcd] {
    color: white;
    font-size: 70px;
}

p[b-zpd79d8zcd] { 
    color: white;
    font-size: 25px;
}

label[b-zpd79d8zcd] {
    color: white;
    margin-right: 10px;
    font-size: 25px;
}

button[b-zpd79d8zcd] {
    margin-top: 100px;
}
