@page "/"
@inject NavigationManager Navigation

<PageTitle>Krizic Kruzic</PageTitle>

<h1>Welcome</h1>
<EditForm Model="@this" OnValidSubmit="OnSubmit">
    <p>Select the number of players:</p>
    <InputRadioGroup @bind-Value="numOfPlayers">
        <label class="inputRadio"><InputRadio Value="1" /> 1</label>
        <label class="inputRadio"><InputRadio Value="2" /> 2</label>
    </InputRadioGroup>
    <p>Select the symbol for player one:</p>
    <InputRadioGroup @bind-Value="symbolPlayerOne">
        <label class="inputRadio"><InputRadio Value="@("X")" /> X</label>
        <label class="inputRadio"><InputRadio Value="@("O")" /> O</label>
    </InputRadioGroup>
    <button type="submit">PLAY</button>
</EditForm>

@code {
    private int numOfPlayers { get; set; } = 1;       
    private string symbolPlayerOne { get; set; } = "X";

    private void OnSubmit()     //metoda za prelazak na game dio stranice nakon odabira postavki
    {
       Navigation.NavigateTo($"/game/{numOfPlayers}/{symbolPlayerOne}");
    }
}